*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

body {
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

.text_large {
  font-size: 32px;
}
.text_small {
  font-size: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 42px;
}
.todohero_section {
  border: 1px solid #c2b39a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 455px;
  height: 210px;
  border-radius: 11px;
}
.todohero_section div:last-child {
  background-color: #88ab33;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form {
  align-self: center;
  width: 455px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 38px;
}

.form input {
  background-color: #1f2937;
  color: #fff;
  width: 392px;
  height: 50px;
  outline: 0px;
  border: 0px;
  border-radius: 11px;
  padding: 12px;
}
.form button {
  width: 50px;
  height: 50px;
  border-radius: 11px;
  background-color: #88ab33;
  border: 0px;
}

.todo_list {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 27px;
}
.todo_item,
.edit-form input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 455px;
  border: 1px solid #c2b39a;
  font-size: 16px;
  background-color: #0d0d0d;
  color: #fff;
  padding: 12px;
}

.edit-form input {
  outline: transparent;
  width: calc(455px - 14px);
  height: calc(70px - 12px);
  border: transparent;
}

.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
}
.todo_items_left {
  background-color: transparent;
  border: transparent;
  color: #fff;
  gap: 12px;
  font-size: 16px;
}
.todo_items_right {
  gap: 4px;
}
.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: transparent;
}

.todo_items_right button svg {
  fill: #c2b39a;
}
